@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-in {
    @apply opacity-0 translate-y-5 transition-opacity duration-700 ease-out;
  }
  .hero-section.animate .animate-fade-in {
    @apply opacity-100 translate-y-0;
  }

  .delay-150 {
    transition-delay: 150ms;
  }
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  line-height: 1.75; 
  letter-spacing: 0.5px;
}



button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

p, a, li {
  font-weight: 400;
}



/* Ensure cards have the proper 3D flip effect */
.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-0 {
  transform: rotateY(0deg);
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit the text to 3 lines */
  -webkit-box-orient: vertical;
}

/* CSS for fade-in and slide-in animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.loan-card {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.loan-card.animate {
  opacity: 1;
  animation: fadeInScale 0.8s ease-out;
}

.prose ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
}

.prose ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.prose li {
  margin-bottom: 0.5rem; /* Add some spacing between list items */
}
